In [43]:
from collections import OrderedDict
import re
import pandas as pd


def kthRepeatedletter(filename,k):
    filename='InputText.txt'
    f = open(r"C:\Users\Harsha Vardhan\OneDrive\Desktop\QTX_Programming Question\InputText.txt")
    t=f.read()
    l=[]
    res = re.findall(r'\w+', t)
    for i in range(len(res)):
        input=res[i]
        dict=OrderedDict.fromkeys(input,0)  
        for ch in input:  
            
            dict[ch]+=1
        nonRepeatDict = [key for (key,value) in dict.items() if value==1]  
      
    # now return (k-1)th character from above list  
        if len(nonRepeatDict) < k:
            t='#'
        else:  
            t=nonRepeatDict[k-1]
        l.append(t)
    df = pd.DataFrame(data={"word":res,"character":l})
    df['k']=k
        
    return df

In [47]:
Dataframe=kthRepeatedletter(filename='InputText.txt',k=4)
Dataframe

             word character  k
0              In         #  4
1        computer         p  4
2         science         #  4
3      artificial         c  4
4    intelligence         #  4
..            ...       ... ..
343    philosophy         y  4
344           and         #  4
345          many         y  4
346         other         e  4
347        fields         l  4

[348 rows x 3 columns]

In [48]:
Dataframe.to_csv("Problem1.csv")

In [54]:
def countCharacterType(filename): 
    filename='InputText.txt'
    f = open(r"C:\Users\Harsha Vardhan\OneDrive\Desktop\QTX_Programming Question\InputText.txt")
    t=f.read()
    l=[]
    res = re.findall(r'\w+', t)
    for i in range(len(res)):
        input=res[i]
    #Initiating values
        a = 0
        e = 0
        i = 0
        o = 0
        u = 0
        consonant = 0
 
        for n in range(0, len(input)):
            ch = input[n]  
            if ( (ch >= 'a' and ch <= 'z') or 
             (ch >= 'A' and ch <= 'Z') ):  
                ch = ch.lower() 
      
                if (ch == 'a'): 
                    a += 1
                elif(ch == 'e'):
                    e +=1
                elif(ch == 'i'):
                    i +=1 
                elif(ch == 'o'):
                    o +=1  
                elif(ch == 'u'):
                    u +=1    
                else: 
                    consonant += 1
          
        d={"Word":input,"A": a,"E": e,"I": i,"O": o,"U": u,"Consonants":consonant}
        l.append(d)
        df=pd.DataFrame.from_records(l)
    return df

In [55]:
Dataframe1=countCharacterType(filename='InputText.txt')
Dataframe1

             Word  A  E  I  O  U  Consonants
0              In  0  0  1  0  0           1
1        computer  0  1  0  1  1           5
2         science  0  2  1  0  0           4
3      artificial  2  0  3  0  0           5
4    intelligence  0  3  2  0  0           7
..            ... .. .. .. .. ..         ...
343    philosophy  0  0  1  2  0           7
344           and  1  0  0  0  0           2
345          many  1  0  0  0  0           3
346         other  0  1  0  1  0           3
347        fields  0  1  1  0  0           4

[348 rows x 7 columns]

In [56]:
Dataframe1.to_csv("problem2.csv")